// sass写法
.box1{
  width: 200px;
  height: 200px;
  background-color: orange;
  > .text{ // 子选择器
    color: aqua;
  }
}
.box2{
  width: 150px;
  height: 80px;
  background-color: rgb(5, 142, 0);
  + .box3{  // 相邻组合选择器
    width: 150px;
  }
  ~ .box3{ // 同层组合选择器
    height: 40px;
  }
}
.box3{
  background-color: rgb(0, 21, 142);
}

// css写法
/* .box1{
  width: 200px;
  height: 200px;
  background-color: orange;
}
.box1 > .text{ // 子选择器
  color: aqua;
}
.box2{
  width: 150px;
  height: 80px;
  background-color: rgb(5, 142, 0);
}
.box2 + .box3{  // 相邻组合选择器
  width: 150px;
}
.box2 ~ .box3{ // 同层组合选择器
  height: 40px;
}
.box3{
  background-color: rgb(0, 21, 142);
} */