div{
    width: 200px;
    height: 100px;
    background-color: rgb(255, 87, 87);
    transform: translate(50px, 100px);
    -ms-transform: translate(50px,100px); /* IE 9 */
    -webkit-transform: translate(50px,100px); /* Safari and Chrome */
}