$common-font-size: 14px !default;
$color: red; // 公有属性（外部可以访问）。
$-backgroundColor: orange; // 私有属性（外部访问不到）的定义：使用“-”或“_”。

.box{
	color: red
}

@function column-width($col, $total){
	@return percentage($col/$total);
}

@mixin bgColor($bg-color: #f2f2f2){
	background-color: $bg-color;
}