*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.flex1, .flex2{
    flex: .5;
}
.flex1{
    background-color: rgb(185, 185, 185);
}
.flex2{
    background-color: rgb(106, 106, 106);
}
.content1{
    overflow: hidden;
}
.cube{
    width: 100px;
    height: 100px;
    background-color: rgb(191, 0, 0);
    margin: 50px;
}
.container1{
    border: 3px solid red;
    overflow: hidden;
}
.container2{
    border: 3px solid red;
}
.float{
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 100px;
    float: left;
}

.main1, .main2{
    overflow: auto;
}
.square1, .square3{
    width: 100px;
    height: 100px;
    background-color: aqua;
    float: left;
}
.square2, .square4{
    width: 200px;
    height: 200px;
    background-color: rgb(237, 12, 0);
}
.square4{
    overflow: hidden;
}

.parent{
    width: 350px;
    height: 350px;
    background-color: rgb(255, 0, 0);
    overflow: hidden;
}
.child1{
    margin: 20px;
    width: 300px;
    height: 120px;
    background-color: rgb(0, 255, 115);
    /* float: left; */
}
.child2{
    margin: 20px;
    width: 300px;
    height: 120px;
    background-color: rgb(0, 85, 255);
    /* float: left; */
}